.section2{border-right:1px solid #DEDEDE;margin-right:-10px;text-align:justify;}
.block1{padding:35px;}
.block2{padding:35px;}
.section2{border-right:1px solid #DEDEDE;margin-right:-10px;text-align:justify;}
.section3{border-right:1px solid #DEDEDE;margin-right:-10px;text-align:justify;}
