.section2{border-right:1px solid #DEDEDE;margin-right:-10px;text-align:justify;padding:35px;}
.section1{border-right:1px solid #DEDEDE;margin-right:-10px;}
.section3{border-right:1px solid #DEDEDE;margin-right:-10px;text-align:justify;}
